body {
  text-align: center;
  margin-top: 70px;
  font-family: Arial, sans-serif;
}
p{
  text-align: center;
  padding-top: 5% !important;
  font-size: 76px;
  font-family: Arial, sans-serif;
}
input {
  border: 1px solid blue;
  border-radius: 1px;
  cursor: text;
  display: inline-block;
  font: 20px arial, sans-serif;
  height: 36px;
  line-height: 36px;
  width: 30%;
  position: relative;
}
.result {
  position: relative;
  background-color: white;
  text-align: center;
  color: blue;
  max-width: 800px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border-style: bold;
  border-color: blue;
}
blockquote {
  border-left: none;
  text-align: center;
}
#wikiSearchResults {
  position: relative;
  text-align: center;
}
button {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial,, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
}
h3 {
  color: red;
}
